html, body {
  width: 100%;
  height: 96%;
  margin: 0;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Freckle Face', cursive;
  background-color: #f1e6e6;
}

#main {
  width: 100%;
  max-width: 800px;
  height: 100%;
  text-align: center;
  margin: 10px auto;
}

#drawing {
  width: 95%;
  height: 90%;
  margin: 0 auto;
}

#info {
  width: 100%;
  font-family: 'Freckle Face', cursive;
  color: #252525;
  text-shadow: 0 -3px 2px #e6665cb5;
}

#timer {
  font-size: 50px;
}

#count {
  font-size: 20px;
}

#pic {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 5px 16px -5px black;
}

.options_div {
  width: 90%;
  margin: 14px auto;
  text-align: left;
  font-family: 'Freckle Face', cursive;
  text-shadow: 1px 3px 3px #d0a7a7;
  font-size: 24px;
}
.options_title {
  font-size: 30px;
  width: 5em;
  display: inline-block;
}
.options_div > ul {
  padding: 0;
  display: inline;
}
.options_div > ul > li {
  display: inline;
}

.butt {
  margin: 20px 0;
  padding: 10px;
  cursor: pointer;
  font-size: 50px;
  text-shadow: 1px 1px 5px #b30b0b;
  color: #fffaf7;
  text-decoration: none;
  /* width: 6em; */
}

#categories_ul > li {
  margin: 10px;
  display: inline;
}
.categories_ul_container {
  width: 100%;
}

.titleee {
  text-align: center;
  margin: 20px 0 35px;
}
.titleee > h1 {
  font-size: 40px;
  color: #e1f3d7;
  text-shadow: 0 0px 6px #c5666a;
  display: inline;
  vertical-align: middle;
  margin: 0 20px;
}
.titleee > img {
  display: inline-block;
  width: 80px;
  vertical-align: middle;
  opacity: 0.6;
}

#loading {
  width: 150px;
}